Rules 1-3
[1] Excessive profanity
>Swearing is allowed, but please refrain from using excessive profanity.

[2] Spam
We don't have a spam chat and it wont be coming so don't even ask me or wofez about it

[3] Ranting
If you have a problem you would like to address, @wofez✞ or @definition
Rules 4-7
[4] Disrespect
Do NOT disrespect anyone in the Discord, this includes tryouts, or people bad at the game.

[5] Chat Edicate
Don’t post, reference, or talk about sexually explicit content, you may talk about real life events and politics as long as it doesn’t result in an argument.

[6] Advertising
Don’t advertise other groups, Discord servers or other ROBLOX games in chat or voice channels.

[7] Discrimination
Discrimination of ANY kind will result in a punishment.
Rules 8-11
[8] Voice Edicate
Be sure to use the Voice Channels appropriately. If you’re found misusing them, you may be Server Muted or Moved.

[9] Pinging
Mentioning any role will get you kicked, you can ping Support inside a ticket if you’re having an issue or have any questions. Please refrain from pinging Staff Members unless it is an emergency.

[10] Topics
Please keep relevant topics in their correct text channels. Do NOT use bot commands in general, you will be warned, muted and eventually kicked.

[11] Respect
Respect Higher Ups, If you’re told to do something or stop, you stop.
Rules 12-15
[12] Impersonation
Impersonation of Higher Ups or Bots will result in a temporary punishment.

[13] Leaking
Do NOT leak any personal information, pictures or names.

[14] Spoiler Baiting
Do NOT spoiler bait, this includes making a word look like something different using spoilers.

[15] Follow the Discord TOS
